---
title: Agência
heading: Quem é a Castle
subtitle: Conheça a equipe que compõe a agência CastleDev
---

<section class="hero-black diagonal text-center">
	<div class="container">
			<h2>Nossa missão</h2>
			<p>Em 2017, os parceiros Andre Defremont, Jefferson Klister e Matheus Seabra decidiram criar uma agência que invovasse a forma das pessoas de terem uma presença digital. Unindo experiências, eles...</p>
</div>
</section>

<section class="diagonal alternate">
	<div class="container">

		<div class="halves">

			{% for member in site.staff_members %}
			<div>
					{% include staff-member.html member=member %}
			</div>

			{% endfor %}
		</div>
	</div>
</section>
