---
title: Castle Dev
---

<section class="hero diagonal">
	<div class="container">
		
			<h2>Experiências digitais <br>
			que se destacam</h2>
		
			<p>A agência CastleDev transforma soluções digitais em resultados reais</p>
		 
				 	
		  <br>
		  <br>
		  <a class="button" href="{{ site.baseurl }}/servicos/">Conheça nossas soluções</a>
	</div>
</section>


<section class="diagonal alternate text-center">
	<div class="container">
		<p>Como criamos sua presença web</p>
		<h1>Nossos melhores serviços</h1>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/svg/webdev.svg"></li>
			</ul>
		</div>
		<div>
			<h2 class="editable">Criação de Sites</h2>
			<p class="editable">
				Criamos seu site com design moderno, acessível em várias telas, e que converta visitantes em clientes.
			</p>
			<p class="editable"><a href="{{ site.baseurl }}/portfolio/">Saiba como criamos o seu site &rarr;</a></p>
		</div>



	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/svg/branding.svg"></li>
			</ul>
		</div>
		<div>
			<h2 class="editable">UX Design e Identidade Visual</h2>
			<p class="editable">
				Design nos últimos padrões da web com logo, fotos, cores e tipografia com a cara da sua marca</p>
				<p class="editable"><a href="{{ site.baseurl }}/design/">Saiba mais como fazemos design&rarr;</a></p>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/svg/socialmedia.svg"></li>
			</ul>
		</div>
		<div>
			<h2 class="editable">Inbound Marketing</h2>
			<p class="editable">
				Criar conteúdo informativo que agrega valor para o seu público é a chave para atrair e manter clientes
			</p>
			<p class="editable"><a href="{{ site.baseurl }}/portfolio/">Como atrair mais clientes &rarr;</a></p>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<h2 class="editable">Conheça nossos resultados</h2>
			<p class="editable">De blogs a lojas virtuais, a Castle tem a solução digital ideal para você.</p>
			<p class="editable"><a href="{{ site.baseurl }}/portfolio/">Ver mais projetos &rarr;</a></p>
		</div>
		<div>
			<ul class="image-grid">
				{% for client in site.clients limit: 3 %}
					<li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}"></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="hero2 diagonal">
	<div class="container">

			<div class="halves">
				<div>
					<h2>Vamos conversar sobre o seu projeto?</h2>
					 
				</div>
				<div>
					<a class="button alt" href="{{ site.baseurl }}/contact/">Conheça nossas soluções</a>
				</div>
			</div>
	</div>
</section>
