---
layout: default
title: Agência CastleDev
---

<section class="hero diagonal">
	<div class="container">

			<h2>Experiências digitais <br>
			que se destacam</h2>

			<p>A agência CastleDev transforma soluções digitais em resultados reais</p>

		  <br>
		  <a class="button" href="{{ site.baseurl }}/servicos/">Conheça nossas soluções <i class="fa fa-angle-right"></i> </a>
	</div>
</section>


<!-- <section class="diagonal alternate">
	<div class="container text-center">

		<div class="halves">
			<div>
				<img src="{{ site.baseurl }}/images/svg/webdev.svg">
				<h2 class="editable">Criação de Sites</h2>
				<p class="editable">
					Criamos seu site com design moderno, acessível em várias telas, e que converta visitantes em clientes.
				</p>
				<p class="editable"><a href="{{ site.baseurl }}/criacao-de-sites/">Saiba como criamos o seu site <i class="fa fa-angle-right"></i></a></p>
			</div>
			<div>
				<img src="{{ site.baseurl }}/images/svg/branding.svg">
				<h2 class="editable">Design e Identidade Visual</h2>
				<p class="editable">
					Design nos últimos padrões da web com logo, fotos, cores e tipografia com a cara da sua marca
				</p>
				<p class="editable"><a href="{{ site.baseurl }}/design/">Saiba como fazemos design <i class="fa fa-angle-right"></i></a></p>
			</div>
			<div>
				<img src="{{ site.baseurl }}/images/svg/socialmedia.svg">
				<h2 class="editable">Inbound Marketing</h2>
				<p class="editable">
					Criar conteúdo informativo que agrega valor para o usuário final é a chave para atrair e manter clientes
				</p>
				<p class="editable"><a href="{{ site.baseurl }}/inbound-marketing/">Como atrair mais clientes <i class="fa fa-angle-right"></i></a></p>
			</div>
		</div>
	</div>
</section> -->

<section class="diagonal hero-black">
    <div class="container">
    <div class="halves">
    	<div>
    		<p>O que fazemos</p>
    		<h2>Ajudamos pessoas à criarem uma <br> presença digital de destaque</h2>
    	</div>
    	<div>
    		<img src="images/grupo2.png">
    	</div>
    </div>
        	
    </div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<h2 class="editable">Consciência Presente</h2>
			<p class="editable">
				Um blog e gerenciador de conteúdo que desenhamos voltados para os tópicos de desenvolvimento pessoal e espiritualidade.
			</p>
			<p class="editable"><a href="{{ site.baseurl }}/portfolio/">Ver site <i class="fa fa-angle-right"></i></a></p>
		</div>

		<div>

				<img src="{{ site.baseurl }}/images/mac.png">

		</div>



	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<img src="{{ site.baseurl }}/images/phoneipad.png">
		</div>
		<div>
			<h2 class="editable">Art en Bijou</h2>
			<p class="editable">
				A história de como ajudamos uma franco-brasileira a vender bijouterias da Amazônia online.</p>
				<p class="editable"><a href="{{ site.baseurl }}/design/">Ver site <i class="fa fa-angle-right"></i></a></p>
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container halves">

		<div>
			<h2 class="editable">Martec</h2>
			<p class="editable">
				Desenhando experiências criativas para os clientes da empresa de reforma de móveis e modulados Martec.
			</p>
			<p class="editable"><a href="{{ site.baseurl }}/inbound-marketing/">Ver site <i class="fa fa-angle-right"></i></a></p>
		</div>
		<div>
				<img src="{{ site.baseurl }}/images/notebook.png">
		</div>
	</div>
</section>
<!--
<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<h2 class="editable">Conheça nossos resultados</h2>
			<p class="editable">De blogs a lojas virtuais, a Castle tem a solução digital ideal para você.</p>
			<p class="editable"><a href="{{ site.baseurl }}/portfolio/">Ver mais projetos <i class="fa fa-angle-right"></i></a></p>
		</div>
		<div>
			<ul class="image-grid">
				{% for client in site.clients limit: 3 %}
					<li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}"></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section> -->

<section class="hero2 diagonal">
	<div class="text-container">

			<div class="halves">
				<div>
					<h2>Vamos conversar sobre o seu projeto?</h2>
					<p>Boas relações começam com um primeiro contato.</p>
					<br>
					<a class="button alt" href="{{ site.baseurl }}/contact/">Iniciar um projeto <i class="fa fa-angle-right"></i></a>
				</div>
				<div>


				</div>
			</div>
	</div>
</section>
