---
layout: page
title: Blog
heading: Blog
subtitle: Dicas, ferramentas e tutoriais para enriquecer a presença digital do seu negócio.
---

<section class="diagonal alternate">
	<div class="text-container">
	    <p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Post</a></p>
		<ul class="blog-posts">
			{% include list-posts.html posts=paginator.posts %}
		</ul>
	</div>
</section>

{% if paginator.total_pages > 1 %}
	<section class="diagonal alternate">
		<!-- Pagination links -->
		<div class="pagination">
			{% if paginator.previous_page %}
				<a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous btn">&larr; Newer posts</a>
			{% endif %}

			<span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>

			{% if paginator.next_page %}
				<a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next btn">Older posts &rarr;</a>
			{% endif %}
		</div>
	</section>
{% endif %}


<section class="hero2 diagonal">
	<div class="container">
		<form action="{{ site.baseurl }}/contact-success/" method="post" class="contact-form">
			<div class="halves">
				<div>
					<h2>Dicas semanais de como ter uma presença web</h2>
				</div>
				<div>
					<input type="text" name="first-name" placeholder="Seu Email" />
					<input type="submit" value="Quero receber!" />
				</div>
			</div>

		</form>
	</div>
</section>
