---
layout: page
title: Blog
heading: Blog da Castle
subtitle: Dicas, ferramentas e tutoriais para enriquecer a presença digital do seu negócio.
---

<section class="diagonal alternate">
	<div class="text-container">
	    <p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Post</a></p>
		<ul class="blog-posts">
			{% include list-posts.html posts=paginator.posts %}
		</ul>
	</div>
</section>

{% if paginator.total_pages > 1 %}
	<section class="diagonal alternate">
		<!-- Pagination links -->
		<div class="pagination">
			{% if paginator.previous_page %}
				<a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous btn">&larr; Newer posts</a>
			{% endif %}

			<span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>

			{% if paginator.next_page %}
				<a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next btn">Older posts &rarr;</a>
			{% endif %}
		</div>
	</section>
{% endif %}


<section class="hero2 diagonal">
	<div class="container">
		<form action="{{ site.baseurl }}/contact-success/" method="post" class="contact-form">
			<div class="halves">
				<div>
					<h2>Dicas semanais de como ter uma presença web</h2>
				</div>
				<div>
					<form action="//castledev.us16.list-manage.com/subscribe/post?u=4c6a7b6ee15e8fd0e7700919e&amp;id=3250bc1f5e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>


							<input type="hidden" name="b_4c6a7b6ee15e8fd0e7700919e_3250bc1f5e" tabindex="-1" value="">

							<input type="email" value="" name="EMAIL"  id="mce-EMAIL" placeholder="Seu melhor email" required>


							<input type="submit" value="Quero receber!" name="subscribe" id="mc-embedded-subscribe">

					</form>
				</div>
			</div>

		</form>
	</div>
</section>
